version: "3.9"

services:
    api:
        container_name: sso_api
        build:
            context: .
            dockerfile: Docker/Dockerfile.dev
        ports:
            - "5000:8000"
        depends_on:
            - db
        environment:
            ASPNETCORE_ENVIRONMENT: Development
        volumes:
            - .:/app